header {
    background-color: var(--preto);
    padding: 2rem 0 1rem 0;
}

.cabecalho {  
    text-align: center;
}

.item {
    display: inline-block;
    padding: 0em 1.2% 0 1.2%;
}

.display {
    color: var(--branco);
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
}

.display:hover {
    color: var(--cinza);
}

.projetos-container {
    position: relative;
}

.container__botao_menu {
    display: none;
}

.container__botao_menu:checked~.lista-menu {
    display:block;
}

.menu-hamburguer {
    text-align: center;
}

.lista-menu {
    background-color: var(--preto);
    border-radius:  0 0 16px 16px;
    display: none;
    margin-top: 1rem;
    position: absolute;
    top: 100%;
    z-index: 0;
}

.lista-menu__item {
    margin: 0.5em 0.5em 0 0.5em;
    padding: 0em 1.2% 0.5em 1.2%;
}


.lista-menu__link {
    color: var(--branco);
    text-decoration: none;
}

.lista-menu__link:hover {
    color: var(--cinza);
    text-decoration: none;
}


@media screen and (min-width: 768px) {
    header {
        box-sizing: border-box;
        border-radius: 0 0 20px 20px;
        margin: 0 2.6% 0 2.6%;
    }

    .cabecalho {  
        text-align: center;
    }

    .item {
        padding: 0em 1.5em 0 1.5em;
    }

    .display {
        font-size: 22px;
        margin: 0 1rem 0 1rem;
    }
}

@media screen and (min-width: 1440px) {
    header {
        margin: 0 6% 0 6%;
    }
    
    .cabecalho {  
        text-align: right;
    }

    .lista-menu__item {
        text-align: center;
    }

}