h1 {
    font-size: 24px;
    margin: 10px;
    padding-top: 2em;
    text-align: center;
}

h2 {
    font-family: var(--fonte-titulos);
    font-size: 18px;
    padding-bottom: 1em;
    text-align: left;
}

h3 {
    font-size: 16px;
}

.container {
    margin: 15px;
    padding: 10px;
    text-align: center;
}

.sub-container {
    padding-top: 1em;
    text-align: justify;
}

.sobre {
    padding: 1rem;
    text-indent: 15px;
}

.texto {
    font-size: 16px;
    line-height: 16px;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 28px;
        margin: 15px;
        padding-bottom: 0.5em;
    }
    
    h2 {
        font-size: 24px;
        padding: 1em;
        text-align: left;
    }

    h3 {
        font-size: 22px;
        margin: 0 1em 0 1em;
    }

    .margem-container {
        margin: 0 10% 0 10%;
    }

    .container {
        background-color: var(--cinza-claro);
        box-sizing: border-box;
        border-radius: 30px;
        margin-bottom: 3em;
    }

    .sub-container {
        background-color: var(--branco);
        box-sizing: border-box;
        border-radius: 20px;
        font-size: 16px;
        margin: 1rem 6.5% 1rem 6.5%;
    }
    
    .texto {
        margin: 0 1em 0 1em;
        line-height: 32px;
    }

    .sobre {
        padding: 1rem;
        text-indent: 20px;
    }

}

@media screen and (min-width: 1440px) {
    .container {
        border-radius: 40px;
        margin-bottom: 5em;
    }
  
}
